= form_with(model: my_class, local: true) do |form|
  - if my_class.errors.any?
    #error_explanation.alert.alert-danger
      %b
        = pluralize(my_class.errors.count, "error")
        prohibited this class from being saved:

      %ul
      - my_class.errors.full_messages.each do |message|
        %li= message

  .form-group
    = form.label :name
    = form.text_field :name, {class: 'form-control'}

  .form-group.form-check
    = form.collection_check_boxes(:professor_ids, @professors, :id, :full_name) do |b|
      = b.check_box(class: 'form-check-input')
      = b.label(class: 'form-check-label')
      %br/

  = submit_tag 'Submit', class: 'btn btn-primary'
