= form_with(model: my_class, local: true) do |form|
  - if my_class.errors.any?
    #error_explanation
      %h2
        = pluralize(my_class.errors.count, "error")
        prohibited this my_class from being saved:

      %ul
      - my_class.errors.full_messages.each do |message|
        %li= message

  .field
    = form.label :name
    = form.text_field :name

  .actions
    = form.submit
