%h3= @my_class.name

= link_to 'Edit', edit_my_class_path(@my_class), {class: 'btn btn-secondary btn-sm', role: 'button'}
= link_to 'Delete', @my_class, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm', role: 'button'

%br/
%br/

%table.table
  %thead
    %tr
      %th Professor
      %th Average Rating
      %th
  %tbody
    - @my_class.professors.each do |p|
      %tr
        %td= link_to p.full_name, professor_path(p)
        %td= p.average_rating_for(@my_class)
        %td= link_to 'Review This Professor', new_professor_review_path(p.id), {class: 'btn btn-primary btn-sm', role: 'button'}
