%h3= @professor.full_name

%p
  %b Average Overall Rating: #{@professor.average_rating} (#{@professor.reviews.count} Reviews)

= link_to 'View All Reviews', professor_reviews_path(@professor), {class: 'btn btn-primary btn-sm', role: 'button'}
= link_to 'Edit', edit_professor_path(@professor), {class: 'btn btn-secondary btn-sm', role: 'button'}
= link_to 'Delete', @professor, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary btn-sm', role: 'button'

%br/
%br/

%table.table
  %thead
    %tr
      %th Class
      %th Average Rating
  %tbody
    - @professor.my_classes.each do |c|
      %tr
        %td= link_to c.name, my_class_path(c)
        %td= @professor.average_rating_for(c)
