= form_with(model: review, url: professor_reviews_path, local: true) do |form|
  - if review.errors.any?
    #error_explanation
      %h2
        = pluralize(review.errors.count, "error")
        prohibited this review from being saved:
      %ul
        - review.errors.full_messages.each do |message|
          %li= message

  .field
    = form.label :professor
    = form.collection_select :professor_id, @professors, :id, :full_name
  .field
    = form.label 'Class'
    = form.collection_select :my_class_id, @my_classes, :id, :name
  .field
    = form.label 'Rating (5 - excellent, 1 - worst)'
    = form.select :rating, options_for_select(Review::RATING_SCALE)
  .field
    = form.label :description
    = form.text_area :description
  .actions
    = form.submit
