%h3 Professor: #{@professor.full_name}
%table.table
  %thead
    %tr
      %th Class
      %th Rating
      %th Description
      %th{:colspan => "3"}
  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.my_class.name
        %td= review.rating
        %td= review.description
        %td= link_to 'Destroy', professor_review_path(@professor, review), method: :delete, data: { confirm: 'Are you sure?' }
