!!! html
%html
  %head
    %title RateMyProf
    = csrf_meta_tags
    = csp_meta_tag
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top
      %a.navbar-brand{href: '#'} RateMyProf
      %button.navbar-toggler{type: 'button', data: {toggle: 'collapse', target: '#navbarMenu'}, aria: {controls: 'navbarMenu', expanded: 'false', label: 'Toggle navigation'}}
        %span.navbar-toggler-icon
      #navbarMenu.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item.dropdown
            %a#myclass-dropdown.nav-link.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'false'}} Classes
            .dropdown-menu{aria: {labelledby: 'myclass-dropdown'}}
              = link_to 'Class List', my_classes_path, {class: 'dropdown-item'}
              = link_to 'New Class', new_my_class_path, {class: 'dropdown-item'}
          %li.nav-item.dropdown
            %a#prof-dropdown.nav-link.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'false'}} Professors
            .dropdown-menu{aria: {labelledby: 'prof-dropdown'}}
              = link_to 'Professor List', professors_path, {class: 'dropdown-item'}
              = link_to 'New Professor', new_professor_path, {class: 'dropdown-item'}

    %main.container{role: 'main'}
      - if notice
        #notice.alert.alert-info{role: 'alert'}= notice
      = yield
